  .cardListConcert{
    width: 30%;
    margin: 1%;
    display: inline-block;
}

  .titleCard {
    background-color: #60dfcd;
    background-image: linear-gradient(315deg, #60dfcd 0%, #1e9afe 74%);
    color: #ffffff;
  }

  .btnDetail{
    background-color:  #b465da;
    border: none;
    color: white;
    font-size: large;
}
